{% set version = asset_version('/') -%}
<!doctype html>
<html class="s-no-javascript  not-loaded  {% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title styleguide.title %}</title>

        {%~ block head_copyright %}
            <!--
            Copyright (c) Zicht Online {{ 'now'|date('Y') }} All rights reserved
            Developed by: Zicht Online
            Contact: info@zicht.nl
            Version: {{ version ?: 'n.a.' }}
            -->
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head -%}
            {%- set assets = [{ type: 'stylesheet', path: 'bundles/zichthtmldev/css/styleguide.css' }] |merge(styleguide.assets) -%}

            {%- for assetConfig in assets -%}
                {%- if assetConfig.type == 'stylesheet' -%}
                    {%- if assetConfig.path is defined -%}
                        <link rel="stylesheet" href="{{ asset(assetConfig.path) }}">
                    {% elseif assetConfig.url is defined -%}
                        <link rel="stylesheet" href="{{ assetConfig.url }}">
                    {% elseif assetConfig.body is defined -%}
                        <style>
                            {{ assetConfig.body|raw }}
                        </style>
                    {% endif -%}
                {%- elseif assetConfig.type == 'script' -%}
                    {%- if assetConfig.path is defined -%}
                        <script defer src="{{ asset(assetConfig.path) }}"></script>
                    {% elseif assetConfig.url is defined -%}
                        <script defer src="{{ assetConfig.url }}"></script>
                    {% elseif assetConfig.body is defined -%}
                        <script>
                            {{ assetConfig.body|raw }}
                        </script>
                    {% endif -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endblock %}

        <script>
            'use strict';
            var html = document.getElementsByTagName('html')[0];
            html.className = html.className.replace('s-no-javascript', 's-javascript');
        </script>
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block body '' %}
    </body>
</html>
